<form [formGroup]="registroForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Nombre: </label>
    <input type="text" formControlName="fullName" />
    <div *ngIf="registroForm.get('fullName')?.invalid && registroForm.get('fullName')?.touched" class="error">
      El nombre es requerido y debe tener al menos 3 caracteres.
    </div>
  </div>

  <div>
    <label>Email: </label>
    <input type="email" formControlName="email" />
    <div *ngIf="registroForm.get('email')?.invalid && registroForm.get('email')?.touched" class="error">
      Ingrese un  email valido.
    </div>
  </div>

  <div>
    <label>Fecha de Nacimiento: </label>
    <input type="date" formControlName="dateBirth" />
    <div *ngIf="registroForm.get('dateBirth')?.invalid && registroForm.get('dateBirth')?.touched" class="error">
      Ingrese una fecha de nacimiento valida.
    </div>
  </div>

  <div>
    <label>Contraseña: </label>
    <input type="password" formControlName="password" />
    <div *ngIf="registroForm.get('password')?.invalid && registroForm.get('password')?.touched" class="error">
      Ingrese un password valido.
    </div>
  </div>

  <div>
    <label>Repetir contraseña: </label>
    <input type="password" formControlName="confirmPassword" />
    <div *ngIf="registroForm.get('confirmPassword')?.invalid && registroForm.get('confirmPassword')?.touched" class="error">
      Ingrese un password valido.
    </div>
  </div>
  <div *ngIf="registroForm.hasError('passwordsMismatch')" class="error">
    La contraseña no coincide.
  </div>
  <button type="submit" [disabled]="registroForm.invalid">Registrarse</button>
  <div class="{{classResult}}">{{result}}</div>
  <div [ngClass]="classResult">{{result}}</div>
</form>
